In [46]:
#Import Data
import pandas as pd
Dataset = pd.read_excel('Data_Demographic.xlsx')
Dataset = pd.DataFrame(Dataset)
Dataset

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [4]:
#How many people of each race are represented in this dataset? 
#This should be a Pandas series with race names as the index labels

In [29]:
people_of_each_race = Dataset['race']
people_of_each_race
people_of_each_race.info() #pandas series

<class 'pandas.core.series.Series'>
RangeIndex: 5 entries, 0 to 4
Series name: race
Non-Null Count  Dtype
--------------  -----
5 non-null      object
dtypes: object(1)
memory usage: 172.0+ bytes

In [30]:
people_of_each_race

0    White
1    White
2    White
3    Black
4    Black
Name: race, dtype: object

In [147]:
races =people_of_each_race.value_counts()
races = pd.Series(prova)
races.index.name=None
races

White    3
Black    2
Name: count, dtype: int64

In [43]:
#What is the average age of men?

In [49]:
men_average=Dataset.loc[:,'age'].mean()
men_average

np.float64(41.6)

In [50]:
#What is the percentage of people who have a Bachelor's degree?

In [117]:
perc_bachelors_degree = len(Dataset[Dataset.loc[:,'education'] == 'Bachelors'])/len(Dataset.loc[:,'education'])
print(perc_bachelors_degree*100, "%")

60.0 %

In [73]:
#What percentage of people with advanced education (Bachelors, Masters, or Doctorate) make more than 50K?

In [124]:
advanced_edu = len(Dataset[(Dataset["education"].isin(["Bachelors", "Masters", "Doctorate"]))&(Dataset.loc[:,'salary']=='>=50k')])
people_adv=advanced_edu/len(Dataset)
print(people_adv*100, "%")

0.0 %

In [119]:
#What percentage of people without advanced education make more than 50K?

In [125]:
Nadvanced_edu = len(Dataset[~(Dataset["education"].isin(["Bachelors", "Masters", "Doctorate"]))&(Dataset.loc[:,'salary']=='>=50k')])
Npeople_adv=Nadvanced_edu/len(Dataset)
print(Npeople_adv*100, "%")

0.0 %

In [126]:
#What is the minimum number of hours a person works per week?

In [130]:
min_number_per_week = Dataset.loc[:,'hours-per-week'].min()
print(min_number_per_week)

13

In [131]:
#What percentage of the people who work the minimum number of hours per week have a salary of more than 50K?

In [135]:
perc_min_hours_sal_more_than_50k = len(Dataset[(Dataset.loc[:,'hours-per-week'] == 13) & (Dataset.loc[:,'salary'] == '>=50k')])/len(Dataset)
print(perc_min_hours_sal_more_than_50k,"%")

0.0 %

In [136]:
#What country has the highest percentage of people that earn >50K and what is that percentage?

In [144]:
countries = Dataset.loc[:,'native-country'].drop_duplicates()
countries

0    United-States
4             Cuba
Name: native-country, dtype: object

In [207]:
Data2 = pd.DataFrame(countries)
Data2.index=range(0,len(Data2))
Data2

  native-country
0  United-States
1           Cuba

In [208]:
for country in Data2["native-country"]:
    subset = Dataset[Dataset.loc[:,'native-country']== country]
    ratio = (subset["salary"] == "<=50K").mean() * 100
    Data2.loc[Data2["native-country"] == country,"% people >= 50k"] = 100-ratio

Data2

  native-country  % people >= 50k
0  United-States              0.0
1           Cuba              0.0

In [205]:
#Identify the most popular occupation for those who earn >50K in India.

In [218]:
Dataset["native-country"] = Dataset["native-country"].str.strip() #space cleaning
Dataset["salary"] = Dataset["salary"].str.strip() 

Data3= Dataset[(Dataset["native-country"] == "India") &
        (Dataset["salary"] == ">=50K")]

Most_popular_occupation=Data3.loc[:,"occupation"].value_counts()
Most_popular_occupation

Series([], Name: count, dtype: int64)